{% extends "layout/layout.html" %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/public/css/lib/bootstrap.min.css">
<style>
    body, html {
        margin: 0;
        background-color: #F6F6F6 !important;
    }
</style>
{% endblock %}

{% block content %}

    <div class="container margin-top">
        <table id="sortTable" class="sortable-theme-bootstrap" data-sortable style="width: 100%">
            <thead>
                <tr>
                    <th data-sortable-type="numeric" style="border-top-left-radius: 14px;">Employee Id</th>
                    <th data-sortable-type="alpha">Employee Name</th>
                    <th data-sortable-type="date">Age</th>
                    <th data-sortable-type="numeric">Experience</th>
                    <th data-sortable="false" style="width: 17%; border-top-right-radius: 14px;"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <!-- <input id="fileUpload" type="file" name="streamfile" accept=".csv, .pdf" multiple />
        <input id="postForm" type="submit" value="upload" /> -->
    </div>

{% endblock %}

{% block footer %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/js/sortable.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/css/sortable-theme-bootstrap.css" />

<script>
    var exampleTable = document.querySelector('#sortTable')
    Sortable.initTable(exampleTable)

    var dataValue= {{ result | safe }}

    function convertCSV() {
        $.ajax({
            type: "GET",
            url: '/convert-csv',
            success: function (data) {
                var csvData = new Blob([data.csvoutput], {type: 'text/csv;charset=utf-8;'});
                var csvURL =  null;
                if (navigator.msSaveBlob) {
                    csvURL = navigator.msSaveBlob(csvData, 'download.csv');
                } else {
                    csvURL = window.URL.createObjectURL(csvData);
                }
                var tempLink = document.createElement('a');
                tempLink.href = csvURL;
                tempLink.setAttribute('download', 'download.csv');
                tempLink.click();
            },
            error: function (xhr, statusText, err) {
                alert("error"+xhr.status);
            }
        });
    }

    $(document).ready(() => {
        for(i = 0; i < dataValue.length; i++) {
            var DateLength= dataValue[i].PassedCompanyDetails;
            var total = 0;
            var year = 0;

            for(j = 0; j < DateLength.length; j++) {
                var lengthVal = DateLength[j].experience;
                total += parseInt(lengthVal.split("/")[0]);
                year += parseInt(lengthVal.split("/")[1]);
            }

            function getWords(monthCount) {
                function getPlural(number, word) {
                    return number === 1 && word.one || word.other;
                }

                var months = { one: 'month', other: 'months' },
                    years = { one: 'year', other: 'years' },
                    m = monthCount % 12,
                    y = Math.floor(monthCount / 12),
                    result = [];

                y && result.push((y + year) + ' ' + getPlural(y, years));
                m && result.push(m + ' ' + getPlural(m, months));
                return result.join(' and ');
            }

            var exp = getWords(total);
            $("tbody").append(`
            <tr id="remove` + i + `">
                <td><a href="/view/` + dataValue[i].invoiceno + `">` + dataValue[i].invoiceno + `</a></td>
                <td>` + dataValue[i].name + `</td>
                <td>` + dataValue[i].age + `</td>
                <td>` + exp + `</td>
                <td class="section-option">
                    <div class="section-img" id="` + i + `">
                        <img src="/public/images/index-select.svg">    
                    </div>
                    <div class="edit-delete hide" style="display: none;" id="editDelete` + i + `">
                        <div class="delete-icon" onclick="deleteValue(` + i + `, ` + dataValue[i].invoiceno + `)">
                            <img src="/public/images/delete-icon.svg">
                            <img src="/public/images/delete-icon-hover.svg" class="img-top">
                        </div>
                        <!-- <a class="edit" href="/edit/` + dataValue[i].invoiceno + `">
                            <img src="/public/images/edit-icon.svg">
                            <img src="/public/images/edit-icon-hover.svg" class="img-top">
                        </a> -->
                    </div>
                </td>
            </tr>
            `)
        }

        $(".section-img").on("click", function() {
            bindVal();
            var qid = $(this).attr('id');
            $(".hide").hide();
            $("#" + qid).hide();
            $("#editDelete" + qid).show();
        })
    })
    
    function bindVal() {
        $(".section-img").show();
    }

    function deleteValue(index, value) {
        var result = confirm("Are you sure you want to delete this invoice: " + value);
        if(result) {
            var data= {
                "id": value
            }
            $.ajax({
                url: "/delete",
                method: "POST",
                dataType:'json',
                data: JSON.stringify(data),
                headers: {
                    'Content-Type' : 'application/json',
                },
                success: function(data) {
                    $("#remove"+ index).remove();
                },
                error: function(jqXHR, textStatus, err) {
                    console.log('text status '+textStatus+', err '+err)
                }
            });
        }
    }

</script>

{% endblock %}

