label {
  margin-bottom: 14px !important;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #2E384D;
}
.form-group {
  margin-bottom: 25px !important;
}
.new-detail-container .margin-top,
.edit-page-container .margin-top {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid #E5EAF3;
  border-radius: 14px;
}
.new-detail-container .invoiceno-date,
.edit-page-container .invoiceno-date {
  padding: 24px 60px 0px;
  background-color: #F4F7FD;
  border-bottom: 1px solid #E5EAF3;
  border-radius: 14px 14px 0px 0px;
}
.new-detail-container .clientdetail,
.edit-page-container .clientdetail {
  padding: 24px 60px 0px;
  background-color: #FFFFFF;
}
.new-detail-container .w-150,
.edit-page-container .w-150 {
  width: 150px;
}
.new-detail-container .table,
.edit-page-container .table {
  border-collapse: collapse;
  border-radius: 7px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #E5EAF3;
  width: 100%;
}
.new-detail-container .table th,
.edit-page-container .table th,
.new-detail-container .table td,
.edit-page-container .table td {
  border: 1px solid #E5EAF3;
}
.new-detail-container .table .remove,
.edit-page-container .table .remove {
  top: 4px;
  right: -40px;
}
.new-detail-container .table .list-title,
.edit-page-container .table .list-title {
  background: #F4F7FD;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #2E384D;
}
.new-detail-container .price-update,
.edit-page-container .price-update {
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #8798AD;
}
.new-detail-container .price-update th,
.edit-page-container .price-update th,
.new-detail-container .price-update td,
.edit-page-container .price-update td {
  border: 0px solid #E5EAF3;
}
.new-detail-container .price-update .tr-1,
.edit-page-container .price-update .tr-1 {
  padding-bottom: 18px;
}
.new-detail-container .price-update .tr-2,
.edit-page-container .price-update .tr-2 {
  padding-bottom: 13px;
}
.new-detail-container .price-update .tr-3,
.edit-page-container .price-update .tr-3 {
  padding-bottom: 25px;
}
.new-detail-container .balancedue,
.edit-page-container .balancedue {
  padding: 24px 60px;
  border-top: 1px solid #E5EAF3;
  border-radius: 0px 0px 14px 14px;
  background-color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #2E384D;
}
.new-detail-container .invoiceNumber label,
.edit-page-container .invoiceNumber label {
  padding-left: 44px;
}
.new-detail-container .invoiceNumber .d-flex .d-flex,
.edit-page-container .invoiceNumber .d-flex .d-flex {
  border: 1px solid #ced4da;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
  line-height: 16px;
}
.new-detail-container .invoiceNumber .d-flex .d-flex .hashtag,
.edit-page-container .invoiceNumber .d-flex .d-flex .hashtag {
  height: 38px;
  width: 38px;
  background: #FFFFFF;
  border-radius: 3px 0px 0px 3px;
  padding: 12px 15px;
}
.new-detail-container .invoiceNumber .d-flex .d-flex .invoiceno,
.edit-page-container .invoiceNumber .d-flex .d-flex .invoiceno {
  background: #FFFFFF;
  width: 140px;
  text-align: left;
  padding: 11px 12px;
}
.new-detail-container .space,
.edit-page-container .space {
  margin-right: 18px;
}
#page-wrap {
  height: 297mm;
  position: relative;
}
.header {
  letter-spacing: 0.5px;
  height: 135px;
}
.header .t-0 {
  top: 0;
}
.header .b-0 {
  bottom: 0;
}
.header h1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  padding-top: 18px;
  margin-bottom: 0px;
}
.header .company-info {
  padding: 0px 30px 16px;
}
.header .company-info .logo-img {
  padding-right: 10px;
}
.header .company-info .company-name-address {
  width: 100%;
  padding: 0px 20px;
  padding-right: 0px;
  flex: 0 0 325px;
}
.header .company-info .company-name-address .company-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.header .company-info .company-name-address .company-address {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #363636;
}
.header .company-info .table {
  width: 100%;
  padding: 0px 20px;
  padding-right: 0px;
}
.header .company-info .contact-info {
  padding: 4px 0px 0px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #363636;
}
.header .company-info .contact-info div {
  margin-right: 45px;
}
.header .company-info .contact-info div:last-child {
  margin-right: 0px;
}
.header .company-info .contact-info img {
  margin-right: 8px;
}
.user-info {
  padding: 38px 50px 16px;
  justify-content: space-between;
}
.user-info .company-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
.user-info .company-address {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #363636;
}
.user-info .table {
  padding: 0px 20px;
  padding-right: 0px;
}
.price-detail {
  width: 100%;
}
.price-detail .background {
  background: rgba(152, 133, 49, 0.8);
  padding: 10px 50px 8px;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
}
.price-detail .flex-1 {
  flex: 1 0 350px;
}
.price-detail .flex-1 p {
  width: 270px;
  white-space: pre-wrap;
}
.price-detail .flex-2 {
  flex: 1 0 50px;
}
.price-detail .flex-3 {
  flex: 1 0 70px;
  text-align: center;
}
.price-detail .flex-4 {
  flex: 1 0 50px;
  text-align: right;
}
.price-detail .pricing {
  padding: 10px 50px 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}
.price-detail .text-align-right {
  text-align: right !important;
}
.price-detail .total {
  margin-top: 38px;
  border-top: 3px solid #EAEAEA;
  border-bottom: 3px solid #EAEAEA;
  padding: 14px 50px 12px;
}
.price-detail .total .flex-3 {
  flex: 1 0 50px;
  text-align: center;
}
.terms {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 50px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}
.terms .authorized-sign {
  padding-bottom: 150px;
}
.terms .thanks-note {
  text-align: center;
}
.border-line {
  width: 100%;
  height: 4px;
  background: #A29248;
}
.position-r {
  position: relative;
}
.position-a {
  position: absolute;
}
.black-color {
  color: #000000;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.company-info table td,
.company-info table th,
.user-info table td,
.user-info table th {
  border: 0px;
  font-size: 12px;
  line-height: 14px;
  padding: 0px 5px 5px;
}
.company-info .float-right,
.user-info .float-right {
  text-align: right;
  font-weight: 600;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
.modal-dialog {
  max-width: 80% !important;
}
.print-btn {
  position: fixed;
  right: 8px;
  top: 8px;
}
.error {
  border: 1px solid red !important;
}
.edit-btn {
  position: fixed;
  left: 8px;
  top: 8px;
}
.edit-btn a {
  text-decoration: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
textarea {
  resize: none !important;
}
.cursor-pointer {
  cursor: pointer;
}
.detail {
  margin-top: 16px;
  font-size: 14px;
  line-height: 16px;
  color: #8A8991;
}
.detail .col-2,
.detail .col-1 {
  margin: auto;
}
.detail .form-control {
  border: 0px !important;
}
.margin-top {
  margin-top: 6rem;
  margin-bottom: 2rem;
}
.fa-calendar-alt {
  position: absolute;
  padding: 11px;
  right: 0px;
  top: 0px;
}
.percentage {
  width: 40%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.margin-bottom-8 {
  margin-bottom: 8px;
}
.margin-bottom-16 {
  margin-bottom: 16px;
}
.justify-content-end .col-3 {
  margin: auto 0;
}
.checkbox {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #eee;
  border-radius: 4px;
}
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}
.checkbox .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.add-new {
  float: right;
  border: 1px solid #0067be;
  border-radius: 6px;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin: 0px 0px 16px;
}
.add-new:hover {
  text-decoration: none;
  color: #FFFFFF !important;
  background: #0067be;
}
table .table-edit-btn {
  color: #000000;
}
table .table-edit-btn:hover {
  text-decoration: none;
}
table .table-edit-btn:hover:after {
  content: " Edit";
}
table .table-delete-btn {
  cursor: pointer;
}
table .table-delete-btn:hover {
  color: red;
}
table .table-delete-btn:hover:before {
  content: "Delete ";
}
.addnewrow {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #2470D6;
  width: 35%;
}
.justify-content-end .col-2 {
  text-align: right;
}
.justify-content-end .col-3 {
  padding-left: 40px;
}
select {
  background: url(/public/images/select.svg) no-repeat right #ddd;
  -webkit-appearance: none;
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
}
.update-button {
  font-weight: 400;
  font-size: 16px;
}
.update-button .cancel-btn {
  border: 1px solid #2470D6;
  border-radius: 3px;
  width: 140px;
  color: #2470D6;
  margin-right: 30px;
  text-align: center;
  height: 36px;
  padding: 6px;
}
.update-button .cancel-btn:hover {
  text-decoration: none;
}
.update-button .update-btn {
  background: #2470D6;
  border-radius: 3px;
  width: 140px;
  color: #FFFFFF;
  border: 1px solid #2470D6;
  height: 36px;
}
.form-control {
  font-size: 14px !important;
  line-height: 16px !important;
  color: #272643 !important;
}
.form-control-optional {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #272643;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.navbar {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}
.log-out {
  display: flex;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
.log-out .cancel {
  padding: 11px 0px;
  background: #FFFFFF;
  border: 1px solid #E5EAF3;
  border-radius: 7px;
  text-transform: capitalize;
  color: #78848B;
  margin-right: 20px;
  width: 104px;
  text-align: center;
}
.log-out .cancel:hover {
  text-decoration: none;
}
.log-out .print {
  padding: 9px 0px;
  background: #CDAA5F;
  border-radius: 7px;
  color: #FFFFFF;
  width: 104px;
  text-align: center;
  border: 1px solid #CDAA5F;
}
.log-out .print:hover {
  text-decoration: none;
}
.home-page-container table {
  border-collapse: collapse;
  border-radius: 14px;
  border-style: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.home-page-container table td,
.home-page-container table th {
  border: 0px solid black !important;
  border-top: 1px solid #E5EAF3 !important;
  text-align: center !important;
  font-size: 14px;
  line-height: 16px;
  color: #2E384D;
  font-weight: bold;
}
.home-page-container table th {
  padding-top: 21px !important;
  padding-bottom: 21px !important;
  text-transform: capitalize;
  background: #F4F7FD;
}
.home-page-container table td {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.home-page-container table td a {
  color: #2E384D;
}
.home-page-container table td a:hover {
  text-decoration: none;
}
.home-page-container table .section-option {
  padding: 9px 24px !important;
}
.home-page-container table .section-option .section-img {
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin-left: auto;
}
.home-page-container table .section-option .section-img:hover {
  border-radius: 50%;
  background-color: #f6f6f6;
}
.home-page-container table .section-option .section-img img {
  padding: 8px;
}
.home-page-container table .section-option .edit-delete {
  display: flex;
}
.home-page-container table .section-option .edit-delete .delete-icon {
  cursor: pointer;
  width: 42px;
  height: 42px;
  background: #F2F2F2;
  border-radius: 8px;
  position: relative;
  display: inline-block;
  padding: 9px;
  margin-right: 26px;
}
.home-page-container table .section-option .edit-delete .delete-icon .img-top {
  display: none;
  position: absolute;
  top: 9px;
  left: 9px;
  z-index: 99;
}
.home-page-container table .section-option .edit-delete .delete-icon:hover .img-top {
  display: inline;
}
.home-page-container table .section-option .edit-delete .edit {
  cursor: pointer;
  width: 42px;
  height: 42px;
  background: #F2F2F2;
  border-radius: 8px;
  position: relative;
  display: inline-block;
  padding: 9px;
}
.home-page-container table .section-option .edit-delete .edit .img-top {
  display: none;
  position: absolute;
  top: 9px;
  left: 9px;
  z-index: 99;
}
.home-page-container table .section-option .edit-delete .edit:hover .img-top {
  display: inline;
}
table[data-sortable] th[data-sorted-direction="descending"]:after {
  margin-top: 3px !important;
}
table[data-sortable] th:after {
  margin-left: 0px !important;
}
