{% extends "layout/layout.html" %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/public/css/lib/bootstrap.min.css">
<style>
    body, html {
        margin: 0;
        background-color: #F6F6F6 !important;
    }
</style>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="margin-top">
            <div class="invoiceno-date">
                <div class="row justify-content-between">
                    <div class="col-md-3 my-auto">
                        <img src="/public/images/logo.svg">
                    </div>
                    <div class="form-group col-md-3 invoiceNumber">
                        <label for="invoiceno">INVOICE</label>
                        <div class="d-flex justify-content-end">
                            <div class="d-flex align-items-center">
                                <div class="hashtag">#</div>
                                <div class="invoiceno" id="invoiceno">{{ user.invoiceno }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="gstnumber">GST number (Optional)</label>
                        <input type="text" class="form-control-optional number" id="gstnumber" name="gstnumber" value="{{ user.gstnumber }}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="pannumber">PAN number (Optional)</label>
                        <input type="text" class="form-control-optional" id="pannumber" name="pannumber" value="{{ user.pannumber }}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="invoicedate">Invoice date</label>
                        <div style="position: relative;">
                            <input type="text" name="invoicedate" class="form-control invoicedate" id="invoicedate"  value="{{ user.invoicedate }}"><i class="far fa-calendar-alt"></i>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="checkbox">Billing period
                            {% if user.billingperiod != '' %}
                            <input type="checkbox" id="checkbox" checked="checked">
                            {% else %}
                            <input type="checkbox" id="checkbox">
                            {% endif %}
                            <span class="checkmark"></span>
                        </label>
                        <div style="position: relative;">
                            <input type="text" name="billingperiod" class="form-control billingperiod" id="billingperiod"  value="{{ user.billingperiod }}"><i class="far fa-calendar-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clientdetail">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="clientname">Client name</label>
                        <input type="text" class="form-control" id="clientname" name="clientname"  value="{{ user.clientname }}">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="clientaddress">Client Address</label>
                        <input type="text" class="form-control" name="clientaddress" id="clientaddress" placeholder="1234 Main St" value="{{ user.clientaddress }}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="clientaddress1">Client Address 1</label>
                        <input type="text" class="form-control" name="clientaddress1" id="clientaddress1" placeholder="Apartment, studio, or floor" value="{{ user.clientaddress1 }}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="countryId">Country</label>
                        <select name="country" class="countries form-control" id="countryId">
                            <option value="">Select Country</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="stateId">State</label>
                        <select name="state" class="states form-control" id="stateId">
                            <option value="">Select State</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="cityId">City</label>
                        <select name="city" class="cities form-control" id="cityId">
                            <option value="">Select City</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control number" id="inputZip" name="inputZip"  value="{{ user.Zip }}">
                    </div>
                </div>
                <table class="table" id="addDetails">
                    <tr class="list-title">
                        <th>ITEM DESCRIPTION</th>
                        <th class="w-150">PRICE</th>
                        <th class="w-150">QUANTITY</th>
                        <th class="w-150">TOTAL</th>
                    </tr>
                    {% for item in user.fullValue %}
                    <tr class="detail">
                        <td>
                            <textarea type="text" class="form-control detailValue itemdescription" id="itemdescription">{{ item.itemdescription }}</textarea>
                        </td>
                        <td>
                            <input type="text" class="form-control text-center cost detailValue number" id="cost" value="{{ item.cost }}">
                        </td>
                        <td>
                            <input type="text" class="form-control text-center quantity detailValue number" id="quantity" value="{{ item.quantity }}">
                        </td>
                        <td class="deleteValue">
                            <div class="position-relative">
                                <div id="price" class="detailValue text-center price">{{ item.price }}</div>
                                <div class="remove cursor-pointer position-absolute">
                                    <img src="/public/images/delete.svg" />
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="row mt-2">
                    <div class="col-5">
                        <div class="addnewrow cursor-pointer" id="addnewrow">+ Add new row</div>
                    </div>
                </div>
                <table class="price-update" style="width: 100%">
                    <tr>
                        <td colspan="2" class="blank"></td>
                        <td class="w-150 text-right tr-1">
                            SUB TOTAL
                        </td>
                        <td class="w-150 text-center sub tr-1" id="subtotal">{{ user.symbol }} {{ user.subtotal }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="blank"></td>
                        <td class="w-150 text-right tr-1">
                            <span class="space">IGST</span>
                            <input type="text" class="igstper percentage number" id="igstper"  value="{{ user.igstper }}" />  %
                        </td>
                        <td class="w-150 text-center sub tr-1" id="gstprice">{{ user.symbol }} {{ user.gstprice }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="blank"></td>
                        <td class="w-150 text-right tr-1">
                            TOTAL
                        </td>
                        <td class="w-150 text-center sub tr-1" id="total">{{ user.symbol }} {{ user.total }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="blank"></td>
                        <td class="w-150 text-right tr-3">
                            <span class="space">TDS</span>
                            <input type="text" class="number tdsper percentage" id="tdsper" value="{{ user.tdsper }}" /> %
                        </td>
                        <td class="w-150 text-center sub tr-3" id="tds">{{ user.symbol }} {{ user.tds }}</td>
                    </tr>
                </table>
            </div>
            <div class="d-flex justify-content-end balancedue">
                <div class="w-150 text-right">BALANCE DUE</div>
                <div class="w-150 text-center sub" id="balancedue">{{ user.symbol }} {{ user.balancedue }}</div>
            </div>
        </div>
    </div>



    <!-- <div class="{{ className }}-container container margin-top">
        <div class="row justify-content-between">
            <div class="form-group col-md-5" style="margin-top: 18px;">
                <label for="clientname">Client name</label>
                <input type="text" class="form-control" id="clientname" name="clientname" value="{{ user.clientname }}">
            </div>
            <div class="form-group col-md-4 invoiceNumber order-first order-md-last">
                <label for="invoiceno">INVOICE</label>
                <div class="d-flex justify-content-end">
                    <div class="d-flex align-items-center">
                        <div class="hashtag">#</div>
                        <div class="invoiceno" id="invoiceno">{{ user.invoiceno }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-5">
                <div class="form-group">
                    <label for="clientaddress">Client Address</label>
                    <input type="text" class="form-control" name="clientaddress" id="clientaddress" placeholder="1234 Main St" value="{{ user.clientaddress }}">
                </div>
                <div class="form-group">
                    <label for="clientaddress1">Client Address 1</label>
                    <input type="text" class="form-control" name="clientaddress1" id="clientaddress1" placeholder="Apartment, studio, or floor" value="{{ user.clientaddress1 }}">
                </div>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 order-first order-md-last">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="invoicedate">Invoice date</label>
                        <div style="position: relative;">
                            <input type="text" name="invoicedate" class="form-control invoicedate" id="invoicedate" value="{{ user.invoicedate }}"><i class="far fa-calendar-alt"></i>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="checkbox">Billing period 
                            {% if user.billingperiod != '' %}
                            <input type="checkbox" id="checkbox" checked="checked">
                            {% else %}
                            <input type="checkbox" id="checkbox">
                            {% endif %}
                            <span class="checkmark"></span>
                        </label>
                        <div style="position: relative;">
                            <input type="text" name="billingperiod" class="form-control billingperiod" id="billingperiod" value="{{ user.billingperiod }}"><i class="far fa-calendar-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="gstnumber">GST number (Optional)</label>
                        <input type="text" class="form-control-optional number" id="gstnumber" name="gstnumber" value="{{ user.gstnumber }}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="pannumber">PAN number (Optional)</label>
                        <input type="text" class="form-control-optional" id="pannumber" name="pannumber" value="{{ user.pannumber }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="countryId">Country</label>
                <select name="country" class="countries form-control" id="countryId">
                    <option value="">Select Country</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="stateId">State</label>
                <select name="state" class="states form-control" id="stateId">
                    <option value="">Select State</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="cityId">City</label>
                <select name="city" class="cities form-control" id="cityId">
                    <option value="">Select City</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control number" id="inputZip" name="inputZip"  value="{{ user.Zip }}">
            </div>
        </div>
        <section class="" id="addDetails">
            <div class="row label-detail">
                <div class="col-5">ITEM DESCRIPTION</div>
                <div class="col-2">PRICE</div>
                <div class="col-2">QUANTITY</div>
                <div class="col-2">TOTAL</div>
                <div class="col-1"></div>
            </div>
            {% for item in user.fullValue %}
            <div class="row detail">
                <div class="col-5">
                    <textarea type="text" class="form-control detailValue itemdescription" id="itemdescription">{{ item.itemdescription }}</textarea>
                </div>
                <div class="col-2">
                    <input type="text" class="form-control cost detailValue number" id="cost" value="{{ item.cost }}">
                </div>
                <div class="col-2">
                    <input type="text" class="form-control quantity detailValue number" id="quantity" value="{{ item.quantity }}">
                </div>
                <div class="col-2">
                    <div id="price" class="detailValue price">{{ item.price }}</div>
                </div>
                <div class="col-1 deleteValue">
                    <div class="remove cursor-pointer">
                        <img src="/public/images/delete.png" />
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="row mt-2">
                <div class="col-5">
                    <div class="addnewrow cursor-pointer" id="addnewrow">+ Add new row</div>
                </div>
            </div>

            <div class="row justify-content-end">
                <div class="col-2">
                    SUB TOTAL
                </div>
                <div class="col-3 sub" id="subtotal">
                    {{ user.symbol }} {{ user.subtotal }}
                </div>
            </div>
            
            <div class="row justify-content-end displayValue">
                <div class="col-2">
                    IGST <input type="text" value="{{ user.igstper }}" class="igstper percentage number" id="igstper" /> %
                </div>
                <div class="col-3 sub" id="gstprice">{{ user.symbol }} {{ user.gstprice }}</div>
            </div>
            <div class="row justify-content-end displayValue">
                <div class="col-2">
                    TOTAL
                </div>
                <div class="col-3 sub" id="total">{{ user.symbol }} {{ user.total }}</div>
            </div>
            <div class="row justify-content-end displayValue">
                <div class="col-2">
                    TDS <input type="text" value="{{ user.tdsper }}" class="number tdsper percentage" id="tdsper" /> %
                </div>
                <div class="col-3 sub" id="tds">{{ user.symbol }} {{ user.tds }} {{ user.tdsper }}</div>
            </div>
            <div class="row justify-content-end">
                <div class="col-2">
                    BALANCE DUE
                </div>
                <div class="col-3 sub" id="balancedue">{{ user.symbol }} {{ user.balancedue }}</div>
            </div>

        </section>
        <div class="d-flex update-button">
            <a href="/" class="cancel-btn">Cancel</a>
            <button id="update" type="submit" class="update-btn">Update</button>
        </div>
    </div> -->

{% endblock %}


{% block footer %}
<script type="text/javascript" src="/public/js/post.js"></script>
<script>
    var result = {{ result | safe }}
    var state = ''
    var stateValue = ''

    var updateData = ''

    function bind() {
        $(".cost").blur(update_price);
        $(".quantity").blur(update_price);
        $(".symbol").text(result.symbol);
        $(".igstper").blur(update_igst);
        $(".tdsper").blur(update_tds);
        $('#subtotal').html(result.symbol + " " + result.total);
        $('#gstprice').html(result.symbol + " " + result.gstprice);
        $("#total").html(result.symbol + " " + result.total);
        $("#tds").html(result.symbol + " " + result.tds);
        $("#balancedue").html(result.symbol + " " + result.balancedue);
    }

    $("#update").click(() => {
        empty_input();
        updateData = {
            "invoiceno": $("#invoiceno").text(),
            "symbol": $("#balancedue").text().split(" ")[0],
            "clientname": $("#clientname").val(),
            "gstnumber": $("#gstnumber").val(),
            "pannumber": $("#pannumber").val(),
            "clientaddress": $("#clientaddress").val(),
            "clientaddress1": $("#clientaddress1").val(),
            "City": $("#cityId").val(),
            "State": $("#stateId").val(),
            "Country": $("#countryId option:selected").text(),
            "Zip": $("#inputZip").val(),
            "invoicedate": $("#invoicedate").val(),
            "billingperiod": '',
            "igstper": $("#igstper").val(),
            "tdsper": $("#tdsper").val(),
            "subtotal": $("#subtotal").text().split(" ")[1],
            "gstprice": $("#gstprice").text().split(" ")[1],
            "total": $("#total").text().split(" ")[1],
            "tds": $("#tds").text().split(" ")[1],
            "balancedue": $("#balancedue").text().split(" ")[1],
            "fullValue": []
        }
        if($('#checkbox').is(":checked")) {
            updateData.billingperiod = $("#billingperiod").val();
        }
        else {
            updateData.billingperiod = '';
        }
        var detailspl = $('.detail')
        for (i=0; i<detailspl.length; i++) {
            var updated= {
                "itemdescription": $(".itemdescription").eq(i).val(),
                "cost": $(".cost").eq(i).val(),
                "quantity": $(".quantity").eq(i).val(),
                "price": $(".price").eq(i).html()
            } 
            updateData.fullValue.push(updated);
        }

        if($(".is-invalid").length === 0) {
            $.ajax({
                url: "/edit/" + $("#invoiceno").text(),
                method: "POST",
                dataType:'json',
                data: JSON.stringify(updateData),
                headers: {
                    'Content-Type' : 'application/json',
                },
                success: function(data) {
                    window.location = "/view/" + $("#invoiceno").text();
                },
                error: function(jqXHR, textStatus, err) {
                    console.log('text status '+textStatus+', err '+err)
                }
            });
        }

    })

    $(document).ready(() => {
        var url = "/public/json/countries-states-cities.json";
        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'json',
            success: function(data)
            {
                fullObject= data
                appendValue(data);
            }
        });

        var last = $(result).get(-1);
        $(".invoiceno").text(last.invoiceno);
        bind();
        $(".form-control").blur(empty_input);
    })

    function empty_input() {
        $(".form-control").each(function(){
            var val = $(this).val();
            $(this).toggleClass("is-invalid",val.length==0)
        })
    }

    function appendValue(data) {
        var values= []
        for (i= 0; i < data.length; i++) {
            values.push(data[i].name);
        }
        var index = values.indexOf(result.Country);
        $('select[name="country"]').val(index);


        stateValue = fullObject[index].states;
        var samplestate = Object.getOwnPropertyNames(fullObject[index].states);
        states(samplestate);
        $('select[name="state"]').val(result.State);

        var samplecity = stateValue[result.State];
        city(samplecity);
        $('select[name="city"]').val(result.City);

        if($('select[name="country"]').val() == "100") {
            updateData.symbol = '₹';
            update_total()
        }
        else {
            updateData.symbol = '$';
            update_total()
        }

        if($("#checkbox").is(":checked")) {
            $(".billingperiod").removeAttr('disabled');
        }
        else {
            $(".billingperiod").attr('disabled','disabled');
        }
    }

    $('select[name="country"]').on('change', function(el) {
        stateValue = fullObject[$(el.target).val()].states;
        var sample = Object.getOwnPropertyNames(fullObject[$(el.target).val()].states);
        states(sample)
    });

    $('select[name="states"]').on('change', function(el) {
        var sample = stateValue[$(el.target).val()];
        city(sample);
    });
</script>
{% endblock %}