{% extends "layout/layout.html" %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/public/css/lib/bootstrap.min.css">
<style>
    body, html {
        margin: 0;
        background-color: #F6F6F6 !important;
    }
</style>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="margin-top">
            <div class="invoiceno-date">
                <div class="row justify-content-between">
                    <div class="col-md-3 my-auto">
                        <img src="/public/images/logo.svg">
                    </div>
                    <div class="form-group col-md-3 invoiceNumber">
                        <label for="invoiceno">EMPLOYEE ID</label>
                        <div class="d-flex justify-content-end">
                            <div class="d-flex align-items-center">
                                <div class="hashtag">#</div>
                                <div class="invoiceno" id="invoiceno"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="dob">Date of Birth</label>
                        <div style="position: relative;">
                            <input type="text" name="dob" class="form-control dob" id="dob"><i class="far fa-calendar-alt"></i>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="age">Age</label>
                        <div class="age" id="age">0</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Your email id">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="mobile">Mobile no.</label>
                        <input type="number" class="form-control number" id="mobile" name="mobile" placeholder="Mobile number">
                    </div>
                </div>
            </div>
            <div class="userdetail">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="addressline">Address</label>
                        <input type="text" class="form-control" name="addressline" id="addressline" placeholder="1234 Main St">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="addressline1">Address 1</label>
                        <input type="text" class="form-control" name="addressline1" id="addressline1" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="countryId">Country</label>
                        <select name="country" class="countries form-control" id="countryId">
                            <option value="">Select Country</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="stateId">State</label>
                        <select name="state" class="states form-control" id="stateId">
                            <option value="">Select State</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="cityId">City</label>
                        <select name="city" class="cities form-control" id="cityId">
                            <option value="">Select City</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control number" id="inputZip" name="inputZip">
                    </div>
                </div>

                <div id="addDetailsCompany">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="label">Last Company</label>
                        </div>
                    </div>
                    <div class="last-company position-relative" id="DetailsCompany">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="jobTitle">Job Title</label>
                                <input type="text" class="form-control jobTitle" id="jobTitle" name="jobTitle">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="employer">Employer</label>
                                <input type="text" class="form-control employer" id="employer" name="employer">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="startDate">Start Date</label>
                                <div style="position: relative;">
                                    <input type="text" name="startDate" class="form-control startDate" id="startDate" value="09/2020"><i class="far fa-calendar-alt"></i>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="checkbox-endDate">End Date
                                    <input type="checkbox" id="checkbox-endDate">
                                    <span class="checkmark"></span>
                                </label>
                                <div style="position: relative;">
                                    <input type="text" name="endDate" class="form-control endDate" id="endDate" value="09/2020"><i class="far fa-calendar-alt"></i>
                                </div>
                            </div>
                            <div class="mb-0 form-group col-md-6">
                                <label for="responsibilities">Description</label>
                                <textarea type="text" name="responsibilities" class="form-control responsibilities" id="responsibilities" placeholder="Description"></textarea>
                            </div>
                            <div class="mb-0 form-group col-md-6">
                                <label for="awardsRecognition">Awards & Recognition</label>
                                <textarea type="text" name="awardsRecognition" class="form-control awardsRecognition" id="awardsRecognition" placeholder="Awards & Recognition"></textarea>
                            </div>
                            <div class="deleteCompany">
                                <div class="removeCompany cursor-pointer position-absolute">
                                    <img src="/public/images/delete.svg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-5">
                        <div class="addnewrow cursor-pointer" id="addnewCompany">+ Add new company</div>
                    </div>
                </div>

                <div class="education py-4">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="label">Education</label>
                        </div>
                    </div>
                    <table class="table mt-2" id="addEducation">
                        <tr class="list-title">
                            <th>SCHOOL & COLLEGE NAME</th>
                            <th class="width-200">COURSE</th>
                            <th class="width-250">SPECIALISATION</th>
                            <th class="width-100">Percentage</th>
                        </tr>
                        <tr class="detailEdu">
                            <td>
                                <input type="text" class="form-control detailValue schoolName" id="schoolName" placeholder="School or college name" />
                            </td>
                            <td>
                                <input type="text" class="form-control detailValue course" id="course" placeholder="Course">
                            </td>
                            <td>
                                <input type="text" class="form-control specialisation detailValue" id="specialisation" placeholder="Specialisation" />
                            </td>
                            <td class="deleteEducation">
                                <div class="position-relative">
                                    <input type="text" class="form-control detailValue percentage number" id="percentage" placeholder="Percentage" />
                                    <!-- <div id="price" class="detailValue text-center price">0</div> -->
                                    <div class="removeEdu cursor-pointer position-absolute">
                                        <img src="/public/images/delete.svg" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="row mt-2">
                        <div class="col-5">
                            <div class="addnewrow cursor-pointer" id="addnewEducation">+ Add Education</div>
                        </div>
                    </div>
                </div>
                
                <div class="otherCertification py-4">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="label">Other Certification</label>
                        </div>
                    </div>
                    <table class="table mt-2" id="addCertification">
                        <tr class="list-title">
                            <th>INSTITUTE</th>
                            <th class="width-200">CERTIFICATION</th>
                            <th class="width-100">YEAR</th>
                        </tr>
                        <tr class="detailCertification">
                            <td>
                                <input type="text" class="form-control detailValue institute" id="institute" placeholder="Institute name" />
                            </td>
                            <td>
                                <input type="text" class="form-control detailValue certification" id="certification " placeholder="Certification">
                            </td>
                            <td class="deleteCertification">
                                <div class="position-relative">
                                    <input type="text" class="form-control detailValue year number" id="year" placeholder="Year" />
                                    <!-- <div id="price" class="detailValue text-center price">0</div> -->
                                    <div class="removeCtf cursor-pointer position-absolute">
                                        <img src="/public/images/delete.svg" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="row mt-2">
                        <div class="col-5">
                            <div class="addnewrow cursor-pointer" id="addnewCertification">+ Add Certification</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center balancedue">
                <div class="row">
                    <div class="mb-0 form-control-optional col-md-6 offset-md-3 fileUploadList">
                        Upload your documents... <input id="fileUpload" class="form-control fileUpload" type="file" name="streamfile" accept=".csv, .pdf" multiple />
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
<script type="text/javascript" src="/public/js/post.js"></script>
<script>
    var result = {{ values | safe }};
    $(document).ready(() => {
        if(result == '') {
            $(".invoiceno").text(2020000);
        }
        else {
            var last = $(result).get(-1);
            $(".invoiceno").text(last.invoiceno + 1);
        }
        $(".form-control").blur(empty_input);
    })

    function empty_input() {
        $(".form-control").each(function(){
            var val = $(this).val();
            $(this).toggleClass("is-invalid",val.length==0)
        })
    }

    $("#fileUpload").change(function(){
        console.log($(this).val());
    })

    $("#submit").click(() => {
        empty_input();
        var detailEdu = $('.detailEdu')
        var otherCert = $('.detailCertification')
        var full = {
            "invoiceno": $("#invoiceno").text(),
            "name": $("#name").val(),
            "dob": $("#dob").val(),
            "age": $("#age").text(),
            "email": $("#email").val(),
            "mobile": $("#mobile").val(),
            "addressline": $("#addressline").val(),
            "addressline1": $("#addressline1").val(),
            "City": $("#cityId").val(),
            "State": $("#stateId").val(),
            "Country": $("#countryId option:selected").text(),
            "Zip": $("#inputZip").val(),
            "fileUplaod": [],
            "PassedCompanyDetails": [],
            "EducationDetails": [],
            "OtherCertification": []
        }
        $('#addDetailsCompany .last-company').each(function(i) {
            var updated= {
                "jobTitle": $(this).find("[name='jobTitle']").val(),
                "employer": $(this).find("[name='employer']").val(),
                "startDate": $(this).find("[name='startDate']").val(),
                "endDate": $(this).find("[name='endDate']").val(),
                "responsibilities": $(this).find("[name='responsibilities']").val(),
                "awardsRecognition": $(this).find("[name='awardsRecognition']").val(),
                "experience": '',
            }

            var fromDate = moment($(this).find("[name='startDate']").val(), 'MM/YYYY');
            var toDate = moment($(this).find("[name='endDate']").val(), 'MM/YYYY'); 
            
            if (fromDate.isValid() && toDate.isValid()) {
                var duration = moment.duration(toDate.diff(fromDate));
                updated.experience= duration.months() + '/' + duration.years();
            } else {
                alert('Invalid date(s).')    
            }
            full.PassedCompanyDetails.push(updated)
        })

        for (i=0; i < detailEdu.length; i++) {
            var updatedEdu= {
                "schoolName": $(".schoolName").eq(i).val(),
                "course": $(".course").eq(i).val(),
                "specialisation": $(".specialisation").eq(i).val(),
                "percentage": $(".percentage").eq(i).val()
            }
            full.EducationDetails.push(updatedEdu);
        }
        for (i = 0; i < otherCert.length; i++) {
            var updatedCert= {
                "institute": $(".institute").eq(i).val(),
                "certification": $(".certification").eq(i).val(),
                "year": $(".year").eq(i).val()
            }
            full.OtherCertification.push(updatedCert);
        }

        if($("#age").text() === 0) {
            $("#age").css({ "border": "1px solid red" });
        }

        var length = $("input[name=streamfile]")[0].files.length;
        
        for(var i=0; i<length; i++) {
            var uploadfile = $("input[name=streamfile]")[0].files[i];
            var formData = new FormData(); 
            formData.append("streamfile", uploadfile);
            $.ajax({
                type: "POST",
                url: "/fileupload",
                data: formData,
                processData: false,
                contentType: false,
                success: function(result) {
                    full.fileUplaod.push(result.filename[0].filename);
                },
                error: function (e) {
                    console.log("some error", e);
                }
            })
        }

        if($(".is-invalid").length === 0 && $("#age").text() != 0) {
            $.ajax({
                url: "/post-data",
                method: "POST",
                dataType:'json',
                data: JSON.stringify(full),
                headers: {
                    'Content-Type' : 'application/json',
                },
                success: function() {
                    window.location = "/view/" + $("#invoiceno").text()
                },
                error: function(jqXHR, textStatus, err) {
                    console.log('text status '+textStatus+', err '+err)
                    window.location = "/view/" + $("#invoiceno").text()
                }
            });

            $("input").val('');
            $("textarea").val('');
        }
    })
</script>
{% endblock %}