{% extends "layout/layout.html" %}

{% block header %}
<style>
    .btn-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }
    .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>
{% endblock %}

{% block content %}
    <div id="page-wrap" class="font-varta">
        <section class="header position-r">
            <div class="border-line position-a t-0"></div>
            <h1>TAX INVOICE</h1>
            <div class="d-flex company-info">
                <img src="/public/images/logo.png" class="logo-img">
                <div class="">
                    <div class="d-flex">
                        <div class="company-name-address">
                            <div class="company-name">PositiveNaick Analytics Pvt. Ltd.</div>
                            <div class="company-address">No 177, 1st floor, LM tech park, 1st Main Rd, Nehru Nagar, Kottivakkam, Chennai-600041, Tamil Nadu, India.</div>
                        </div>
                        <div class="table">
                            <table width="100%">
                                <tr>
                                    <td class="float-right">CIN :</td>
                                    <td>U74999TN2017PTC119692</td>
                                </tr>
                                <tr>
                                    <td class="float-right">GSTIN :</td>
                                    <td>33AAJCP5486B1ZF</td>
                                </tr>
                                <tr>
                                    <td class="float-right">PAN :</td>
                                    <td>AAJCP5486B</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="d-flex contact-info">
                        <div class="">
                            <img src="/public/images/phone.png" />
                            044 4857 6162
                        </div>
                        <div class="">
                            <img src="/public/images/website.png" />
                            www.positivenaick.com
                        </div>
                        <div class="">
                            <img src="/public/images/mail.png" />
                            customercare@positivenaick.com
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-line position-a b-0"></div>
        </section>
        
        <section id="identity" class="user-info d-flex">
            <div class="">
                <div class="company-address">Invoice to,</div>
                <div class="company-name">{{ user.clientname }}</div>
                <div class="company-address">{{ user.clientaddress }}</div>
                <div class="company-address">{{ user.clientaddress1 }}</div>
                <div class="company-address">{{ user.City }}-{{ user.Zip }}, {{ user.State }}, {{ user.Country }}.</div>
                {% if user.gstnumber != '' %}
                <div class="company-address">GST No : {{ user.gstnumber }}</div>
                {% endif %}
                {% if user.pannumber != '' %}
                <div class="company-address">PAN No : {{ user.pannumber }}</div>
                {% endif %}
            </div>
            <div class="table">
                <table width="100%">
                    <tr>
                        <td class="float-right">INVOICE NO :</td>
                        <td>#{{ user.invoiceno }}</td>
                    </tr>
                    <tr>
                        <td class="float-right">INVOICE DATE :</td>
                        <td>{{ user.invoicedate }}</td>
                    </tr>
                    {% if user.billingperiod != '' %}
                    <tr>
                        <td class="float-right">BILLING PERIOD :</td>
                        <td>{{ user.billingperiod }}</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </section>
        
        <section class="price-detail">
            <div class="background d-flex">
                <div class="flex-1">ITEM DESCRIPTION</div>
                <div class="flex-2">PRICE</div>
                <div class="flex-3">QUANTITY</div>
                <div class="flex-4">TOTAL</div>
            </div>
            {% for item in user.fullValue %}
            <div class="pricing d-flex">
                <div class="flex-1">
                    <p>{{ item.itemdescription }}</p>
                </div>
                <div class="flex-2">{{ user.symbol }} <span class="digits">{{ item.cost }}</span></div>
                <div class="flex-3">{{ item.quantity }}</div>
                <div class="flex-4">{{ user.symbol }} <span class="digits">{{ item.price }}</span></div>
            </div>
            {% endfor %}
            <div class="pricing d-flex" style="{% if user.Country != 'India' %}min-height: 80px;{% endif %}">
                <div class="flex-1"></div>
                <div class="flex-2"></div>
                <div class="flex-3 text-align-right">SUB TOTAL</div>
                <div class="flex-4">{{ user.symbol }} <span class="digits">{{ user.subtotal }}</span></div>
            </div>
            {% if user.Country == "India" %}
            {% if user.gstprice != 0 %}
            <div class="pricing d-flex">
                <div class="flex-1"></div>
                <div class="flex-2"></div>
                <div class="flex-3 text-align-right">IGST {{ user.igstper }}%</div>
                <div class="flex-4">{{ user.symbol }} <span class="digits">{{ user.gstprice }}</span></div>
            </div>
            <div class="pricing d-flex">
                <div class="flex-1"></div>
                <div class="flex-2"></div>
                <div class="flex-3 text-align-right">TOTAL</div>
                <div class="flex-4">{{ user.symbol }} <span class="digits">{{ user.total }}</span></div>
            </div>
            {% endif %}
            {% if user.tds != 0 %}
            <div class="pricing d-flex">
                <div class="flex-1"></div>
                <div class="flex-2"></div>
                <div class="flex-3 text-align-right">TDS {{ user.tdsper }}%</div>
                <div class="flex-4">{{ user.symbol }} <span class="digits">{{ user.tds }}</span></div>
            </div>
            {% endif %}
            {% endif %}
            <div class="total d-flex">
                <div class="flex-1"></div>
                <div class="flex-2"></div>
                <div class="flex-3 text-align-right">BALANCE DUE</div>
                <div class="flex-4">{{ user.symbol }} <span class="digits">{{ user.balancedue }}</span></div>
            </div>
        </section>
        
        <section class="terms">
            <div class="authorized-sign">Authorized Signature</div>
            <div class="thanks-note">Thanks you for your Business!</div>
        </section>

    </div>
    <div class="print-btn">
        <button class="btn btn-primary" id="print">Print</button>
    </div>
    <div class="edit-btn" id="edit">
        <a href="/edit/{{ user.invoiceno }}" class="btn btn-primary">Edit</a>
    </div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="/public/js/post.js"></script>
<script>
    $.fn.digits = function(){ 
        return this.each(function(){ 
            $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") ); 
        })
    }
    $(document).ready(() => {
        $("span.digits").digits();
    })
    var data= {{ value | safe }}
    $("#print").on("click", function() {
        window.print();
        success();
    })
    $("#edit").on("click", function() {
        success();
    })
    function success() {
        $.ajax({
            url: "/post-data",
            method: "POST",
            dataType:'json',
            data: JSON.stringify(data),
            headers: {
                'Content-Type' : 'application/json',
            },
            success: function() {
                window.location = "/full-detail"
            },
            error: function(jqXHR, textStatus, err) {
                console.log('text status '+textStatus+', err '+err)
                window.location = "/full-detail"
            }
        });
    }
</script>

{% endblock %}