{% extends "layout/layout.html" %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/public/css/lib/bootstrap.min.css">
<style>
    body, html {
        margin: 0;
        background-color: #F6F6F6 !important;
    }
</style>
{% endblock %}

{% block content %}
        <div class="container">
            <div class="margin-top">
                <div class="user-detail">
                    <h1>{{ user.name }}</h1>
                    <h5>{{ user.email }} | {{ user.mobile }}</h5>
                    <h5>{{ user.City }}, {{ user.State }} {{ user.Zip }}</h5>
                </div>
                <div class="education-detail">
                    <div class="work-history">
                        <h5>WORK HISTORY</h5>
                        {% for pcd in user.PassedCompanyDetails %}
                            <div class="PassedCompanyDetails">
                                <div class="title-employer">
                                    <span class="title">{{ pcd.jobTitle }}</span> | <span class="employer">{{ pcd.employer }}</span>
                                </div>
                                <div class="year">{{ pcd.startDate }} - {{ pcd.endDate }}</div>
                            </div>
                            <p class="mb-0">{{ pcd.responsibilities }}</p>
                            <p>{{ pcd.awardsRecognition }}</p>
                        {% endfor %}
                    </div>
                    <div class="education">
                        <h5>EDUCATION</h5>
                        {% for edu in user.EducationDetails %}
                            <div class="EducationDetails">
                                <div class="title-employer">{{ edu.schoolName }}</div>
                                <div class="year">{{ edu.percentage }}</div>
                            </div>
                            <div class="course-specialisation">
                                <span class="course">{{ edu.course }}</span>: <span class="specialisation">{{ edu.specialisation }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="certification-detail">
                        <h5>Other Certification</h5>
                        {% for cft in user.OtherCertification %}
                            <div class="OtherCertification">
                                <div class="title-employer">{{ cft.institute }}</div>
                                <div class="year">{{ cft.year }}</div>
                            </div>
                            <div class="certification">{{ cft.certification }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    <!-- <div id="page-wrap" class="font-varta">
        <section class="header position-r">
            <div class="border-line position-a t-0"></div>
            <h1>TAX INVOICE</h1>
            <div class="d-flex company-info">
                <img src="/public/images/logo.png" class="logo-img">
                <div class="">
                    <div class="d-flex">
                        <div class="company-name-address">
                            <div class="company-name">PositiveNaick Analytics Pvt. Ltd.</div>
                            <div class="company-address">No 177, 1st floor, LM tech park, 1st Main Rd, Nehru Nagar, Kottivakkam, Chennai-600041, Tamil Nadu, India.</div>
                        </div>
                        <div class="table">
                            <table width="100%">
                                <tr>
                                    <td class="float-right">CIN :</td>
                                    <td>U74999TN2017PTC119692</td>
                                </tr>
                                <tr>
                                    <td class="float-right">GSTIN :</td>
                                    <td>33AAJCP5486B1ZF</td>
                                </tr>
                                <tr>
                                    <td class="float-right">PAN :</td>
                                    <td>AAJCP5486B</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="d-flex contact-info">
                        <div class="">
                            <img src="/public/images/phone.png" />
                            044 4857 6162
                        </div>
                        <div class="">
                            <img src="/public/images/website.png" />
                            www.positivenaick.com
                        </div>
                        <div class="">
                            <img src="/public/images/mail.png" />
                            customercare@positivenaick.com
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-line position-a b-0"></div>
        </section>
        
        <section id="identity" class="user-info d-flex">
            <div class="">
                <div class="company-address">User Address,</div>
                <div class="company-name">{{ user.name }}</div>
                <div class="company-address">{{ user.addressline }}</div>
                <div class="company-address">{{ user.addressline1 }}</div>
                <div class="company-address">{{ user.City }}-{{ user.Zip }}, {{ user.State }}, {{ user.Country }}.</div>
            </div>
            <div class="table">
                <table width="100%">
                    <tr>
                        <td class="float-right">INVOICE NO :</td>
                        <td>#{{ user.invoiceno }}</td>
                    </tr>
                    <tr>
                        <td class="float-right">DOB :</td>
                        <td>{{ user.dob }}</td>
                    </tr>
                    <tr>
                        <td class="float-right">AGE :</td>
                        <td>{{ user.age }}</td>
                    </tr>
                </table>
            </div>
        </section>
        
        <section class="PassedCompanyDetails">
            <div class="">Passed Company Details</div>
            {% for pcd in user.PassedCompanyDetails %}
            <div class="">
                {{ pcd.jobTitle }}
                {{ pcd.employer }}
                {{ pcd.startDate }}
                {{ pcd.endDate }}
                {{ pcd.responsibilities }}
                {{ pcd.awardsRecognition }}
            </div>
            {% endfor %}  
        </section>

        <section class="price-detail">
            <div class="background d-flex">
                <div class="flex-1">SCHOOL/COLLEGE NAME</div>
                <div class="flex-2">COURSE</div>
                <div class="flex-3">SPECIALISATION</div>
                <div class="flex-4">PERCENTAGE</div>
            </div>
            {% for item in user.EducationDetails %}
            <div class="pricing d-flex">
                <div class="flex-1">
                    <p>{{ item.schoolName }}</p>
                </div>
                <div class="flex-2">{{ item.course }}</div>
                <div class="flex-3">{{ item.specialisation }}</div>
                <div class="flex-4">{{ item.percentage }}%</div>
            </div>
            {% endfor %}
        </section>

        <section class="price-detail">
            <div class="background d-flex">
                <div class="flex-1">INSTITUTE</div>
                <div class="flex-2">CERTIFICATION</div>
            </div>
            {% for otherCert in user.OtherCertification %}
            <div class="pricing d-flex">
                <div class="flex-1">
                    <p>{{ otherCert.institute }}</p>
                </div>
                <div class="flex-2">{{ otherCert.certification }}</div>
                <div class="flex-3">{{ otherCert.year }}</div>
            </div>
            {% endfor %}
        </section>

    </div>

    <div class="print-btn">
        <button type="button" class="btn btn-primary" id="printBtn">Print <i class="fas fa-print"></i></button>
    </div>
    <div class="edit-btn">
        <a href="/edit/{{ user.invoiceno }}" class="btn btn-primary">Edit <i class="far fa-edit"></i></a>
    </div> -->
{% endblock %}

{% block footer %}
<script>
    $.fn.digits = function(){ 
        return this.each(function(){ 
            $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") ); 
        })
    }
    
    $("#printBtn").on("click", function() {
        window.print();
        window.location = "/"
    })

    $(document).ready(() => {
        $("span.digits").digits();
    })
</script>
{% endblock %}