<script type="text/javascript" src="/public/js/lib/jquery.min.js"></script>
<script src="/public/js/lib/less.min.js"></script>

<script type="text/javascript" src="/public/js/lib/moment.min.js"></script>
 
<!-- Include Date Range Picker -->
<script type="text/javascript" src="/public/js/lib/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/public/css/lib/daterangepicker.css" />

<!-- Include Date Picker -->
<script type="text/javascript" src="/public/js/lib/bootstrap-datepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/public/css/lib/datepicker.css" />

<script type="text/javascript" src="/public/js/lib/papaparse.min.js"></script>