<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{{ title }}</title>
<link rel="icon" href="/public/images/favicon.ico">
<link href="https://pagecdn.io/lib/easyfonts/varta.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/public/css/style.css" />
<link rel="stylesheet" type="text/css" href="/public/css/print.css" media="print" />
<link rel="stylesheet/less" type="text/css" href="/public/less/index.less" />
<!-- <link rel="stylesheet" type="text/css" href="/public/css/index.css" /> -->

<script type="text/javascript" src="/public/js/lib/fontawesome.js"></script>