<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'layout/header.html' %}
        {% block header %}{% endblock %}
    </head>
    <body>
        {% include 'layout/navbar.html' %}
        <div class="{{ className }}-container">
            {% block content %}
            {% endblock %}
        </div>
        {% include 'layout/footer.html' %}
        {% block footer %}{% endblock %}
    </body>
</html>