<nav class="navbar fixed-top navbar-expand-lg">
    <a class="navbar-brand" href="/"><img src="/public/images/logo.svg" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
                <a class="nav-link" href="/new-detail">Add New <span class="sr-only">(current)</span></a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
        </ul>
        {% if (className == 'new-detail') or (className == 'edit-page') %}
        <div class="log-out">
            <a href="/" class="cancel">Cancel</a>
            {% if className == 'new-detail' %}
            <button id="submit" type="submit" class="print">Submit</div> 
            {% elif className == 'edit-page' %}
            <button id="update" type="submit" class="print">Update</div>
            {% endif %}
        </div>
        {% elif className == 'home-page' %}
        <div class="log-out">
            <button onclick="convertCSV()" type="button" class="convertCSV">Downloand as CSV</button>
            <a href="/new-detail" class="print">Add new</a>
        </div>
        {% endif %}
    </div>
</nav>
