label { 
    margin-bottom: 14px !important;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #2E384D;
}

button:focus {
    outline: 0px !important;
}

.form-group {
    margin-bottom: 25px !important;
}

.fileUploadList {
    position: relative;
    overflow: hidden;
}

.fileUploadList input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.new-detail-container, .edit-page-container {
    .last-company {
        border-radius: 7px;
        border-style: hidden;
        box-shadow: 0 0 0 1px #E5EAF3;
        width: 100%;
        padding: 24px;
        margin-bottom: 24px;
    }
    .removeCompany {
        right: -40px;
        top: 140px;
    }
    .age {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .55rem .75rem;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #272643;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .margin-top {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border: 1px solid #E5EAF3;
        border-radius: 14px;
    }
    .invoiceno-date {
        padding: 24px 60px 0px;
        background-color: #F4F7FD;
        border-bottom: 1px solid #E5EAF3;
        border-radius: 14px 14px 0px 0px;
    }
    .userdetail {
        padding: 24px 60px 0px;
        background-color: #FFFFFF;
    }
    .clientdetail {
        padding: 24px 60px 0px;
        background-color: #FFFFFF;
    }
    .width-100 {
        width: 100px;
    }
    .width-150 {
        width: 150px;
    }
    .width-200 {
        width: 200px;
    }
    .width-250 {
        width: 250px;
    }
    .table {
        border-collapse: collapse;
        border-radius: 7px;
        border-style: hidden;
        box-shadow: 0 0 0 1px #E5EAF3;
        width: 100%;
        th, td {
            border: 1px solid #E5EAF3;
        }
        .remove, .removeCtf, .removeEdu {
            top: 4px;
            right: -40px;
        }
        .list-title {
            background: #F4F7FD;
            text-align: center;
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            color: #2E384D;
        }
    }
    .price-update {
        width: 100%;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #8798AD;
        th, td {
            border: 0px solid #E5EAF3;
        }
        .tr-1 {
            padding-bottom: 18px;
        }
        .tr-2 {
            padding-bottom: 13px;
        }
        .tr-3 {
            padding-bottom: 25px;
        }
    }
    .balancedue {
        padding: 24px 60px;
        border-top: 1px solid #E5EAF3;
        border-radius: 0px 0px 14px 14px;
        background-color: #FFFFFF;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #2E384D;
    }
    .invoiceNumber {
        label {
            padding-left: 44px;
        }
        .d-flex {
            .d-flex {
                border: 1px solid #ced4da;
                box-sizing: border-box;
                border-radius: 3px;
                font-size: 14px;
                line-height: 16px;
                .hashtag {
                    height: 38px;
                    width: 38px;
                    background: #FFFFFF;
                    border-radius: 3px 0px 0px 3px;
                    padding: 12px 15px;
                }
                .invoiceno {
                    background: #FFFFFF;
                    width: 140px;
                    text-align: left;
                    padding: 11px 12px;
                }
            }
        }
    }
    .space {
        margin-right: 18px;
    }
}

#page-wrap {
    height: 297mm;
    position: relative;
}
.header {
    letter-spacing: 0.5px;
    height: 135px;
    .t-0 {
        top: 0;
    }
    .b-0 {
        bottom: 0;
    }
    h1 {
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        padding-top: 18px;
        margin-bottom: 0px;
    }
    .company-info {
        padding: 0px 30px 16px;
        .logo-img {
            padding-right: 10px;
        }
        .company-name-address {
            width: 100%;
            padding: 0px 20px;
            padding-right: 0px;
            flex: 0 0 325px;
            .company-name {
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: #000000;
            }
            .company-address {
                font-weight: 600;
                font-size: 12px;
                line-height: 14px;
                color: #363636;
            }
        }
        .table {
            width: 100%;
            padding: 0px 20px;
            padding-right: 0px;
        }
        .contact-info {
            padding: 4px 0px 0px 20px;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            color: #363636;
            div {
                margin-right: 45px;
                &:last-child {
                    margin-right: 0px;
                }
            }
            img {
                margin-right: 8px;
            }
        }
    }
}

.user-info {
    padding: 38px 50px 16px;
    justify-content: space-between;
    .company-name {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
    }
    .company-address {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #363636;
    }
    .table {
        padding: 0px 20px;
        padding-right: 0px;
    }
}

.price-detail {
    width: 100%;
    .background {
        background: rgba(152, 133, 49, 0.8);
        padding: 10px 24px 8px;
        font-size: 16px;
        font-weight: bold;
        color: #FFFFFF;
    }
    .flex-1 {
        flex: 1 0 250px;
        p {
            width: 100%;
            white-space: pre-wrap;
        }
    }
    .flex-2 {
        flex: 1 0 175px;
        text-align: center;
    }
    .flex-3 {
        flex: 1 0 175px;
        text-align: center;
    }
    .flex-4 {
        flex: 1 0 100px;
        text-align: center;
    }
    .pricing {
        padding: 10px 24px 8px;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #000000;
    }
    .text-align-right {
        text-align: right !important;
    }
    .total {
        margin-top: 38px;
        border-top: 3px solid #EAEAEA;
        border-bottom: 3px solid #EAEAEA;
        padding: 14px 50px 12px;
        .flex-3 {
            flex: 1 0 50px;
            text-align: center;
        }
    }
}

.terms {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 50px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    .authorized-sign {
        padding-bottom: 150px;
    }
    .thanks-note {
        text-align: center;
    }
}

.border-line {
    width: 100%;
    height: 4px;
    background: #A29248;
}

.position-r {
    position: relative;
}

.position-a {
    position: absolute;
}

.black-color {
    color: #000000;
}

.d-flex {
    display:-ms-flexbox!important;
    display:flex!important
}

.company-info table td, .company-info table th, .user-info table td, .user-info table th {
    border: 0px;
    font-size: 12px;
    line-height: 14px;
    padding: 0px 5px 5px;
}

.company-info .float-right, .user-info .float-right {
    text-align: right;
    font-weight: 600;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.modal-dialog {
    max-width: 80% !important;
}

.print-btn {
    position: fixed;
    right: 8px;
    top: 8px;
}

.error {
    border: 1px solid red !important;
}

.edit-btn {
    position: fixed;
    left: 8px;
    top: 8px;
    a {
        text-decoration: none;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea {
    resize: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

.detail, .detailEdu, .detailCertification {
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
    color: #8A8991;
    .col-2, .col-1 {
        margin: auto;
    }
    .form-control {
        border: 0px !important;
    }
}

.margin-top {
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.fa-calendar-alt {
    position: absolute;
    padding: 11px;
    right: 0px;
    top: 0px;
}

.percentage {
    width: 40%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.margin-bottom-8 {
    margin-bottom: 8px;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

.justify-content-end {
    .col-3 {
        margin: auto 0;
    }
}

// Check box
.checkbox {
    display: block;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-endDate {
    display: block;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 18px !important;
}

.checkbox input, .checkbox-endDate input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: #eee;
    border-radius: 4px;
}

.checkbox:hover input ~ .checkmark, .checkbox-endDate:hover input ~ .checkmark, {
    background-color: #ccc;
}

.checkbox input:checked ~ .checkmark, .checkbox-endDate input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after, .checkbox-endDate:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after, .checkbox-endDate input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after, .checkbox-endDate .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.add-new { 
    float: right;
    border: 1px solid #0067be;
    border-radius: 6px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 500;
    margin: 0px 0px 16px;
    &:hover {
        text-decoration: none;
        color: #FFFFFF !important;
        background: #0067be;
    }
}
table {
    .table-edit-btn {
        color: #000000;
        &:hover {
            text-decoration: none;
            &:after {
                content: " Edit";
            }
        }
    }
    .table-delete-btn {
        cursor: pointer;
        &:hover {
            color: red;
            &:before {
                content: "Delete "
            }
        }
    }
}

.addnewrow {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #2470D6;
    width: 35%;
}

.justify-content-end {
    .col-2 {
        text-align: right;
    }
    .col-3 {
        padding-left: 40px; 
    }
}

select {
    background: url(/public/images/select.svg) no-repeat right #ddd;
    -webkit-appearance: none;
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
}

.update-button {
    font-weight: 400;
    font-size: 16px;
    .cancel-btn {
        border: 1px solid #2470D6;
        border-radius: 3px;
        width: 140px;
        color: #2470D6;
        margin-right: 30px;
        text-align: center;
        height: 36px;
        padding: 6px;
        &:hover {
            text-decoration: none;
        }
    }
    .update-btn {
        background: #2470D6;
        border-radius: 3px;
        width: 140px;
        color: #FFFFFF;
        border: 1px solid #2470D6;
        height: 36px;
    }
}

.form-control {
    font-size: 14px !important;
    line-height: 16px !important;
    color: #272643 !important;
}

.form-control-optional {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #272643;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

// Navbar 
.navbar {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}

.log-out {
    display: flex;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    .cancel {
        padding: 11px 0px;
        background: #FFFFFF;
        border: 1px solid #E5EAF3;
        border-radius: 7px;
        text-transform: capitalize;
        color: #78848B;
        margin-right: 20px;
        width: 104px;
        text-align: center;
        &:hover {
            text-decoration: none;
        }
    }
    .print {
        padding: 9px 0px;
        background: #CDAA5F;
        border-radius: 7px;
        color: #FFFFFF;
        width: 104px;
        text-align: center;
        border: 1px solid #CDAA5F;
        &:hover {
            text-decoration: none;
        }
    }
}

// Index page
.home-page-container {
    table {
        border-collapse: collapse;
        border-radius: 14px;
        border-style: hidden;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        td, th { 
            border: 0px solid black !important;
            border-top: 1px solid #E5EAF3 !important;
            text-align: center !important;
            font-size: 14px;
            line-height: 16px;
            color: #2E384D;
            font-weight: bold;
        }
        th {
            padding-top: 21px !important;
            padding-bottom: 21px !important;
            text-transform: capitalize;
            background: #F4F7FD;
        }
        td {
            padding-top: 24px !important;
            padding-bottom: 24px !important;
            a {
                color: #2E384D;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .section-option {
            padding: 9px 24px !important;
            .section-img {
                height: 40px;
                width: 40px;
                cursor: pointer;
                margin-left: auto;
                &:hover {
                    border-radius: 50%;
                    background-color: #f6f6f6;
                }
                img {
                    padding: 8px;
                }
            }
            .edit-delete {
                display: flex;
                .delete-icon {
                    cursor: pointer;
                    width: 42px;
                    height: 42px;
                    background: #F2F2F2;
                    border-radius: 8px;
                    position: relative;
                    display: inline-block;
                    padding: 9px;
                    margin-right: 26px;
                }
                .delete-icon .img-top {
                    display: none;
                    position: absolute;
                    top: 9px;
                    left: 9px;
                    z-index: 99;
                }
                .delete-icon:hover .img-top {
                    display: inline;
                }
                .edit {
                    cursor: pointer;
                    width: 42px;
                    height: 42px;
                    background: #F2F2F2;
                    border-radius: 8px;
                    position: relative;
                    display: inline-block;
                    padding: 9px;
                }
                .edit .img-top {
                    display: none;
                    position: absolute;
                    top: 9px;
                    left: 9px;
                    z-index: 99;
                }
                .edit:hover .img-top {
                    display: inline;
                }
            }
        }
    }
}

table[data-sortable] th[data-sorted-direction="descending"]:after {
    margin-top: 3px !important;
}

table[data-sortable] th:after {
    margin-left: 0px !important;
}

.print-page-view-container {
    .margin-top {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border: 1px solid #E5EAF3;
        border-radius: 14px;
        margin-top: 6rem;
        margin-bottom: 2rem;
    }
    .user-detail {
        padding: 24px 60px 16px;
        background-color: #F4F7FD;
        border-bottom: 1px solid #E5EAF3;
        border-radius: 14px 14px 0px 0px;
    }
    .education-detail {
        padding: 24px 60px 24px;
        background-color: #FFFFFF;
        border-radius: 0px 0px 14px 14px;
    }
    .PassedCompanyDetails {
        display: flex;
        justify-content: space-between;
        .title-employer {
            text-transform: capitalize;
            .title {
                font-weight: 600;
            }
            .employer {
    
            }
        }
    }
    .education {
        .EducationDetails {
            display: flex;
            justify-content: space-between;
            text-transform: capitalize;
        }
        .course-specialisation {
            text-transform: capitalize;
            margin-bottom: 1rem;
            .course {
                font-weight: 600;
            }
        }
    }
    .certification-detail {
        .OtherCertification {
            display: flex;
            justify-content: space-between;
            text-transform: capitalize;
        }
        .certification {
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.convertCSV {
    cursor: pointer;
    border: 0px;
    padding: 10px 0px;
    width: 175px;
    border-radius: 7px;
    margin-right: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}